* {
  margin: 0;
  padding: 0;
}
.wrap {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin: 0 auto;
}
.wrap .inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.wrap .inner:nth-child(1) {
  width: 50px;
  height: 50px;
  background: pink;
  z-index: 999;
}
.wrap .inner:nth-child(2) {
  width: 100px;
  height: 100px;
  background: deeppink;
}
