html,
body,
ul,
li,
h1,
h2,
h3,
h4,
span,
div,
p,
a,
form,
input {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  outline: none;
  border: none;
}
img {
  display: block;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
.carousel-wrap {
  position: relative;
  z-index: 2;
}
.carousel-wrap ul {
  position: absolute;
  list-style: none;
  overflow: hidden;
  /* transform: rotateX(180deg); */
}
.carousel-wrap ul li {
  float: left;
}
.carousel-wrap ul li a {
  display: block;
}
.carousel-wrap ul li a > img {
  width: 100%;
  display: block;
}
.carousel-wrap .carousel-point {
  position: absolute;
  bottom: 0;
  text-align: center;
  z-index: 1;
  width: 100%;
}
.carousel-wrap .carousel-point > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: green;
  border-radius: 5px;
  margin-right: 5px;
}
.carousel-wrap .carousel-point > span.active {
  background: deeppink;
}
.clearfix,
#wrap .content > div .tap-wrap .tap-content,
#wrap .content > div .tap-wrap .tap-content ul:nth-child(2) {
  *zoom: 1;
}
.clearfix::after,
#wrap .content > div .tap-wrap .tap-content::after,
#wrap .content > div .tap-wrap .tap-content ul:nth-child(2)::after {
  display: block;
  content: "";
  clear: both;
  height: 0;
}
#wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0.23703704rem;
  background: #eee;
  position: relative;
}
#wrap .head {
  background: #232323;
  position: absolute;
  width: 100%;
  height: 100px;
  height: 4rem;
}
#wrap .head .head-top {
  height: 2rem;
}
#wrap .head .head-top > a:nth-child(1) {
  float: left;
  padding: 0.38518519rem 0.25185185rem 0.31111111rem;
}
#wrap .head .head-top > a:nth-child(1) img {
  width: 3.55555556rem;
}
#wrap .head .head-top > a:nth-child(2) {
  float: left;
  width: 1.91111111rem;
  height: 2rem;
  background: url(../images/menuBtn.png) no-repeat;
  background-size: 1.21481481rem 3.45185185rem;
  background-position: center 0.23703704rem;
}
#wrap .head .head-top > a:nth-child(2).active {
  background-position: center -1.77777778rem;
}
#wrap .head .head-top .btns {
  float: right;
  padding-top: 0.31111111rem;
  font-size: 0.62222222rem;
}
#wrap .head .head-top .btns > a:nth-child(2),
#wrap .head .head-top .btns > a:nth-child(3) {
  width: 1.64444444rem;
  height: 1.15555556rem;
  line-height: 1.15555556rem;
  background: #690;
  color: #CCC;
  margin-right: 0.22222222rem;
  text-align: center;
  border-radius: 0.11851852rem;
  float: left;
}
#wrap .head .head-top .btns > a:nth-child(1) {
  width: 1.92592593rem;
  height: 1.3037037rem;
  line-height: 1.3037037rem;
  color: #fff;
  background: #690;
  margin-top: 0.04444444rem;
  margin-right: 0.44444444rem;
  font-weight: bold;
  border-radius: 0.14814815rem;
  float: left;
  text-align: center;
}
#wrap .head .head-bottom {
  height: 1.52592593rem;
  padding: 0.23703704rem;
}
#wrap .head .head-bottom input[type="text"] {
  box-sizing: border-box;
  width: 12.28148148rem;
  height: 1.52592593rem;
  background: #999;
  padding: 0.07407407rem 0.14814815rem;
  border: 1px solid #5a5a5a;
  font-size: 0.60740741rem;
  color: #333;
  border-radius: 0.22222222rem 0 0 0.22222222rem;
  float: left;
}
#wrap .head .head-bottom input[type="text"]::-webkit-input-placeholder {
  color: #333;
}
#wrap .head .head-bottom input[type="text"]:focus {
  background: #FFF;
}
#wrap .head .head-bottom input[type="button"] {
  width: 3.00740741rem;
  height: 1.52592593rem;
  background: #414040;
  border: none;
  font-size: 0.60740741rem;
  color: #fff;
  border-radius: 0 0.22222222rem 0.22222222rem 0;
  float: right;
}
#wrap .head .mask {
  position: relative;
  position: absolute;
  width: 100%;
  top: 2rem;
  left: 0;
  z-index: 2;
  padding: 0.14814815rem 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
#wrap .head .mask::before {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  top: 0;
  background: #6a6a6a;
  width: 100%;
}
@media (-webkit-device-pixel-ratio: 2) {
  #wrap .head .mask::before {
    transform: scaleY(0.5);
  }
}
@media (-webkit-device-pixel-ratio: 3) {
  #wrap .head .mask::before {
    transform: scaleY(0.33333333);
  }
}
#wrap .head .mask li {
  width: 22.5%;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  text-align: center;
  float: left;
}
#wrap .head .mask li a {
  color: #fff;
}
#wrap .content {
  position: absolute;
  top: 4rem;
  left: 0;
  bottom: 0;
  right: 0;
  background: #eee;
  overflow: hidden;
}
#wrap .content .scrollBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.11851852rem;
  height: 100%;
  background: green;
  opacity: 0;
  transition: 1s opacity;
  z-index: 9;
}
#wrap .content > div .nav {
  position: relative;
  box-sizing: border-box;
  height: 2.62222222rem;
  padding-top: 0.45925926rem;
  padding-bottom: 0.20740741rem;
  background: #eee;
}
#wrap .content > div .nav::before {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  bottom: 0;
  background: #000000;
  width: 100%;
}
@media (-webkit-device-pixel-ratio: 2) {
  #wrap .content > div .nav::before {
    transform: scaleY(0.5);
  }
}
@media (-webkit-device-pixel-ratio: 3) {
  #wrap .content > div .nav::before {
    transform: scaleY(0.33333333);
  }
}
#wrap .content > div .nav .list {
  font-size: 0;
  white-space: nowrap;
  float: left;
}
#wrap .content > div .nav .list > li {
  height: 1.91111111rem;
  padding: 0 0.56296296rem;
  font-size: 1rem;
  display: inline-block;
  line-height: 1.91111111rem;
}
#wrap .content > div .nav .list > li.slipactive {
  background: #690;
}
#wrap .content > div .nav .list > li.slipactive a {
  color: #fff;
}
#wrap .content > div .nav .list > li a {
  color: #020202;
}
#wrap .content > div .tap-wrap {
  width: 15.4962963rem;
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
}
#wrap .content > div .tap-wrap .tap-head {
  height: 2rem;
  line-height: 2rem;
}
#wrap .content > div .tap-wrap .tap-head > span:nth-child(1) {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  float: left;
}
#wrap .content > div .tap-wrap .tap-head > span:nth-child(2) {
  display: block;
  float: right;
}
#wrap .content > div .tap-wrap .tap-nav {
  height: 1.55555556rem;
  line-height: 1.55555556rem;
  position: relative;
}
#wrap .content > div .tap-wrap .tap-nav a {
  width: 1.77777778rem;
  height: 1.55555556rem;
  font-size: 0.65185185rem;
  display: block;
  text-align: center;
  color: #6b6b6b;
  float: left;
}
#wrap .content > div .tap-wrap .tap-nav .green-tap {
  width: 1.77777778rem;
  height: 0.13333333rem;
  background: #6f900d;
  position: absolute;
  bottom: 0;
}
#wrap .content > div .tap-wrap .tap-content {
  width: 300%;
}
#wrap .content > div .tap-wrap .tap-content .loading {
  width: 33.3333333333%;
  height: 10rem;
  background: url(../images/loading.gif) no-repeat;
  float: left;
  background-position: center;
  opacity: 0;
}
#wrap .content > div .tap-wrap .tap-content ul:nth-child(2) {
  width: 33.3333333333%;
  float: left;
}
#wrap .content > div .tap-wrap .tap-content ul:nth-child(2) li {
  box-sizing: border-box;
  width: 7.4962963rem;
  margin: 0.11851852rem;
  padding: 0.07407407rem;
  font-size: 0.59259259rem;
  background: #efefef;
  overflow: hidden;
  float: left;
}
#wrap .content > div .tap-wrap .tap-content ul:nth-child(2) li a {
  color: #000;
}
#wrap .content > div .tap-wrap .tap-content ul:nth-child(2) li a img {
  width: 100%;
}
#wrap .content > div .tap-wrap .tap-content ul:nth-child(2) li a p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#wrap .content > div .tap-wrap .tap-content ul:nth-child(2) li .left {
  float: left;
}
#wrap .content > div .tap-wrap .tap-content ul:nth-child(2) li .left > span:nth-child(1) {
  display: inline-block;
  background: url(../images/ice.png) no-repeat;
  width: .5rem;
  height: .5rem;
}
#wrap .content > div .tap-wrap .tap-content ul:nth-child(2) li .right {
  float: left;
  margin-left: 0.44444444rem;
}
#wrap .content > div .tap-wrap .tap-content ul:nth-child(2) li .right > span:nth-child(1) {
  width: .5rem;
  height: .5rem;
  display: inline-block;
  background: url(../images/ice.png) no-repeat;
  background-position: 0 -1rem;
}
